@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@1,100..900&display=swap');

/* cyrillic-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v23/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIipYSxP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v23/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIGpYSxP.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v23/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIupYSxP.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v23/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpYQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Instrument Serif';
  font-style: italic;
  font-weight: 100;
  src: url('https://fonts.gstatic.com/s/instrumentserif/v4/7Au-p_0qiz-afTf2LwLT.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
    U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist-Black.ttf") format("truetype");
  font-weight: 900;
}


.instrument-serif {
  font-family: "Instrument Serif", serif;
}

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
}

.instrument-serif-italic {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
}

.caveat {
  font-family: "Caveat", cursive;
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
}

body {
  font-family: "Urbanist", sans-serif;
}


.text-primary {
  color: #1a1a1a;
}

.bg-primary {
  background-color: #1a1a1a;
}

.text-secondary {
  color: #1a1a1a60;
}

.bg-secondary {
  background-color: #1a1a1a60;
}

.border-primary {
  border: 1px solid #1a1a1a07.06;

}


.section-gap {
  margin-block: 100px;

}